name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Build db and web images
      run: 
        cd api
        docker-compose up db
        docker-compose up web
    - name: run web and test
      run: make web
      
